* {
  font-family: "FiraCode Nerd Font";
  font-size: 10px;
  border: none;
  background-color: transparent;
}

window#waybar.topbar {
    background: transparent;
    color: #ffffff;
}

.modules-left {
    background-color: #000000;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 2px;
    min-width: 190px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#clock {
    padding-left: 12px;
}

#mpris {
    padding-right: 10px;
}

#mpris.emoji {
    font-family: "Noto Color Emoji";
}

#workspaces {
    background-color: #000000;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 20px;
    min-width: 200px;
}

#workspaces button {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5px;
}

#workspaces button.empty {
    background: transparent;
}

#workspaces button.visible {
    background: transparent;
}

#workspaces button.active {
    background: transparent;
}

#workspaces button:hover {
    background: transparent;
}

.modules-right {
    background-color: #000000;
    border-radius:10px;
    margin-right: 2px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-top: 2px;
}

#power-profiles-daemon, 
#cpu,
#memory,
#temperature {
    background-color: #000000;
    min-width: 75px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
}

window#waybar.bottombar {
  background: #000000;
  color: #ffffff;
}

#custom-media,
#backlight,
#wireplumber.sink,
#network,
#battery {
    min-width: 50px;
    padding-top: 2px;
    margin-right: 5px;
}

#bluetooth,
#custom-seperator {
    min-width: 10px;
    padding: 2px;
    padding-top: 2px;
}

#language,
#wireplumber.source {
    min-width: 10px;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 2px;
}