* {
    background-color: #000000;
    text-color: #ffffff;
    padding: 1px;
}

window {
    width: 200px;
    border: 5px;
    location: south east;
}

inputbar {
    padding: 5px;
    cursor: false;
}

entry {
    cursor-color: #000000;
    blink: false;
}

element {
    background-color: #000000;
    text-color: #ffffff;
}

element selected {
    border: 2px;
    border-color: #ffffff;
}